root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.fish{,.j2}]
indent_size = 4

[roles/git/files/gitconfig_personal]
indent_size = 8
indent_style = tab

[roles/git/templates/gitconfig.j2]
indent_size = 8
indent_style = tab

[roles/macos/templates/iterm2.plist.j2]
indent_size = 8
indent_style = tab

[roles/ssh/templates/config.j2]
indent_size = 4
