; {{ ansible_managed }}

[user]
{% if mtype == "work" %}
{% if wedition == "facile" %}
	email = mario.finelli@facile.it
{% endif %}
{% elif mtype == "server" %}
{% if wedition == "personal" %}
	email = mario@finel.li
{% endif %}
{% else %}
	email = mario@finel.li
{% endif %}
	name = Mario Finelli

{% if mtype == "work" %}
{% for gitpath in git_work_personal_dirs %}
[includeIf "gitdir:~/{{ gitpath }}/"]
	path = ~/.config/git/personal
{% endfor %}
{% endif %}

[alias]
	fclone = clone -c "fetch.fsckObjects=false"
	network = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	pbn = push -u origin HEAD
	plog = log -p --stat
	glog = log --graph --decorate --abbrev-commit
	gglog = log --oneline --graph --all --decorate --abbrev-commit
	ggglog = log --oneline --graph --all --decorate --abbrev-commit --source
	gggglog = log --oneline --graph --all --decorate --abbrev-commit --source --pretty=fuller

[core]
	excludesfile = {{ ansible_user_dir }}/.config/git/ignore
	precomposeunicode = true
{% if ansible_os_family == "Darwin" and ansible_architecture == "arm64" %}
	editor = /opt/homebrew/bin/vim
{% elif ansible_os_family == "Darwin" and ansible_architecture == "x86_64" %}
	editor = /usr/local/bin/vim
{% else %}
	editor = /usr/bin/vim
{% endif %}

[init]
	defaultBranch = master

[pull]
	ff = only

[push]
	autoSetupRemote = true

[fetch]
	fsckObjects = true

[receive]
	fsckObjects = true

[transfer]
	fsckObjects = true

; vim: ft=gitconfig.jinja2
