; {{ ansible_managed }}

[user]
{% if mtype == "work" %}
	email = mfinelli@genedx.com
{% else %}
	email = mario@finel.li
{% endif %}
	name = Mario Finelli

[alias]
	network = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	plog = log -p --stat

[core]
	precomposeunicode = true
{% if ansible_os_family == "Darwin" %}
	editor = /usr/local/bin/vim
{% else %}
	editor = /usr/bin/vim
{% endif %}

[core]
	excludesfile = {{ ansible_user_dir }}/.gitignore_global

[pull]
	ff = only
