# {{ ansible_managed }}

{% if mtype == "work" %}
{% if ansible_os_family == "Archlinux" %}
Host aur aur.archlinux.org
    User aur
    Hostname aur.archlinux.org

Host rome.mfpkg.net
    User mario

{% endif %}
Host *
    AddKeysToAgent yes
    User {{ ssh_work_username[wedition] }}
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}
{% elif mtype == "server" %}
{% if wedition == "personal" %}
Host aur aur.archlinux.org
    User aur
    Hostname aur.archlinux.org
    IdentityFile ~/.ssh/arch.pub
    IdentitiesOnly yes
    KexAlgorithms curve25519-sha256@libssh.org
    HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519
    Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
    MACs hmac-sha2-512-etm@openssh.com
    HashKnownHosts yes
    VisualHostKey yes

Host gist.github.com
    User git
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
    HashKnownHosts yes
    VisualHostKey yes

Host github.com
    User git
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
    HashKnownHosts yes
    VisualHostKey yes
{% endif %}
{% else %}
{% if wedition == 'media' %}
Host {{ ssh_emerald_host }}
    User {{ ssh_emerald_user }}
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% else %}
Host aur aur.archlinux.org
    User aur
    Hostname aur.archlinux.org
    IdentityFile ~/.ssh/arch
    IdentitiesOnly yes
    AddKeysToAgent yes
    KexAlgorithms curve25519-sha256@libssh.org
    HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519
    Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
    MACs hmac-sha2-512-etm@openssh.com
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host bitbucket.org
    User git
    IdentityFile ~/.ssh/bitbucket
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host gist.github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host gitlab.com
    User git
    IdentityFile ~/.ssh/gitlab
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host *.scul.ch
    User mario
    IdentityFile ~/.ssh/sculch
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts no
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host *.mfpkg.net
    User mario
    IdentityFile ~/.ssh/pkgs
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host *.mario.casa
    IdentityFile ~/.ssh/home
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts no
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host *.finelli.dev
    User mario
    IdentityFile ~/.ssh/clouddev
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts no
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host source.developers.google.com
    User mario@scul.ch
    IdentityFile ~/.ssh/google
    IdentitiesOnly yes
    AddKeysToAgent yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

Host {{ ssh_emerald_host }}
    User {{ ssh_emerald_user }}
    IdentityFile ~/.ssh/emerald
    IdentitiesOnly yes
    AddKeysToAgent yes
    HashKnownHosts yes
    VisualHostKey yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

{% for region in ssh_codecommit_regions %}
Host git-codecommit.{{ region }}.amazonaws.com
    User {{ ssh_codecommit_user }}
    IdentityFile ~/.ssh/sculch_old
    IdentitiesOnly yes
    AddKeysToAgent yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

{% endfor %}

{% for region in ssh_mariomoney_regions %}
Host git-codecommit.{{ region }}.amazonaws.com
    User {{ ssh_mariomoney_user }}
    IdentityFile ~/.ssh/sculch_old
    IdentitiesOnly yes
    AddKeysToAgent yes
{% if ansible_os_family == "Darwin" %}
    UseKeychain yes
{% endif %}

{% endfor %}
{% endif %}
{% endif %}

# vim: ft=sshconfig.jinja2
