# {{ ansible_managed }}
{% for item in urlwatch_github_releases %}
---
url: https://github.com/{{ item }}/releases
filter:
  - xpath: '(//div[contains(@class,"release-timeline-tags")]//h4)[1]/a'
  - html2text: re
  - strip
{% endfor %}
---
url: https://raw.githubusercontent.com/GoogleCloudPlatform/cloud-sdk-docker/master/alpine/Dockerfile
---
url: https://raw.githubusercontent.com/fluent/fluentd-kubernetes-daemonset/master/fluentd-daemonset-cloudwatch-rbac.yaml
---
url: https://raw.githubusercontent.com/fluent/fluentd-kubernetes-daemonset/master/fluentd-daemonset-loggly-rbac.yaml
---
url: https://raw.githubusercontent.com/fluent/fluentd-kubernetes-daemonset/master/fluentd-daemonset-gcs.yaml
---
url: https://raw.githubusercontent.com/aws/aws-sdk-go/master/example/service/s3/putObjectWithProcess/putObjWithProcess.go

# vim: ft=yaml
