# {{ ansible_managed }}

font-family = "JetBrainsMonoNL Nerd Font Mono"
font-size = {{ ghostty_font_size[ansible_system] }}
theme = "iTerm2 Dark Background"
window-padding-x = 0
window-padding-y = 0
window-step-resize = true
