# {{ ansible_managed }}

default-cache-ttl 600
max-cache-ttl 7200

{% if ansible_os_family != "Darwin" and mtype != "server" %}
pinentry-program /usr/bin/pinentry-gnome3
{% endif %}

# vim: ft=conf.jinja2
