v=2.14.3

N=Libera.Chat
P={{ hexchat_liberachat_password }}
L=6
E=UTF-8 (Unicode)
F=22
D=0
S=irc.libera.chat/+6697
C=umode +w

N=freenode
P={{ hexchat_freenode_password }}
L=6
E=UTF-8 (Unicode)
F=22
D=0
S=barjavel.freenode.net/6697
C=umode +w
