; {{ ansible_managed }}

[default]
aws_access_key_id = {{ aws_sculch_access_key }}
aws_secret_access_key = {{ aws_sculch_secret_key }}

[dmarcist]
aws_access_key_id = {{ aws_dmarcist_access_key }}
aws_secret_access_key = {{ aws_dmarcist_secret_key }}

[lidoclub]
aws_access_key_id = {{ aws_lidoclub_access_key }}
aws_secret_access_key = {{ aws_lidoclub_secret_key }}

[mariomoney]
aws_access_key_id = {{ aws_mariomoney_access_key }}
aws_secret_access_key = {{ aws_mariomoney_secret_key }}
