# {{ ansible_managed }}

#
# ~/.bashrc
#

# if not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '

# don't put duplicate lines or lines starting with space in the history
HISTCONTROL=ignoreboth
HISTSIZE=100000

# append to the history file, don't overwrite it
shopt -s histappend

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# source bash_aliases if it exists
if [[ -f ~/.bash_aliases ]]; then
  . ~/.bash_aliases
fi

export EDITOR=vim

if [[ -d "$HOME/bin" ]]; then
  export PATH="$HOME/bin":$PATH
fi

if [[ -d "$HOME/src/go" ]]; then
  export GOPATH="$HOME/src/go"
fi

alias please='eval "sudo $(fc -ln -1)"'

if command -v thefuck >/dev/null 2>&1; then
  eval "$(thefuck --alias)"
fi

if command -v shfmt > /dev/null 2>&1; then
  alias mshfmt='shfmt -s -i 2 -ci -sr'
fi

# AWS completion if it exists
if [ -f /usr/bin/aws_completer ]; then
  complete -C '/usr/bin/aws_completer' aws
fi

{% if ansible_os_family != "Darwin" %}
if [[ -f /usr/share/fzf/key-bindings.bash ]]; then
  # archlinux
  source /usr/share/fzf/key-bindings.bash
elif [[ -f /usr/share/doc/fzf/examples/key-bindings.bash ]]; then
  # debian
  source /usr/share/doc/fzf/examples/key-bindings.bash
fi

export FZF_CTRL_R_OPTS='--reverse'
if command -v fd > /dev/null 2>&1; then
  export FZF_DEFAULT_COMMAND='fd -H --type f'
  export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
fi
{% endif %}

if [[ "$(uname)" == "Darwin" ]]; then
  export HOMEBREW_NO_ANALYTICS=1
fi

#
# BEGIN BASH-IT CONFIGURATION
#

# Path to the bash it configuration
export BASH_IT="{{ ansible_user_dir }}/.bash/bash-it"

# Lock and Load a custom theme file.
# Leave empty to disable theming.
# location /.bash_it/themes/
export BASH_IT_THEME='barbuk'
export BARBUK_HOST_INFO=long # or short

# Some themes can show whether `sudo` has a current token or not.
# Set `$THEME_CHECK_SUDO` to `true` to check every prompt:
#THEME_CHECK_SUDO='true'

# Don't check mail when opening terminal.
unset MAILCHECK

# Set this to the location of your work or project folders
#BASH_IT_PROJECT_PATHS="${HOME}/Projects:/Volumes/work/src"
BASH_IT_PROJECT_PATHS="${HOME}/src"

# Set this to false to turn off version control status checking within the prompt for all themes
export SCM_CHECK=true

if [[ -d /usr/share/gitstatus ]]; then
  # Set to actual location of gitstatus directory if installed
  export SCM_GIT_GITSTATUS_DIR="/usr/share/gitstatus"
  # per default gitstatus uses 2 times as many threads as CPU cores, you can change this here if you must
  #export GITSTATUS_NUM_THREADS=8
fi

# Set Xterm/screen/Tmux title with only a short hostname.
# Uncomment this (or set SHORT_HOSTNAME to something else),
# Will otherwise fall back on $HOSTNAME.
#export SHORT_HOSTNAME=$(hostname -s)

# Set Xterm/screen/Tmux title with only a short username.
# Uncomment this (or set SHORT_USER to something else),
# Will otherwise fall back on $USER.
#export SHORT_USER=${USER:0:8}

# If your theme use command duration, uncomment this to
# enable display of last command duration.
export BASH_IT_COMMAND_DURATION=true
# You can choose the minimum time in seconds before
# command duration is displayed.
export COMMAND_DURATION_MIN_SECONDS=1

# Set Xterm/screen/Tmux title with shortened command and directory.
# Uncomment this to set.
#export SHORT_TERM_LINE=true

# (Advanced): Uncomment this to make Bash-it reload itself automatically
# after enabling or disabling aliases, plugins, and completions.
# export BASH_IT_AUTOMATIC_RELOAD_AFTER_CONFIG_CHANGE=1

# Load Bash It
source "$BASH_IT"/bash_it.sh

#
# END BASH-IT CONFIGURATION
#

{% if ansible_os_family == "Archlinux" %}
# "standard" chroot
# mkarchroot $CHROOT/root base-devel
export CHROOT=$HOME/chroot
# supermario chroot with pkgs.finelli.dev enabled
# mkarchroot -C /etc/pacman.conf $SMCHROOT/root base-devel
export SMCHROOT=$HOME/smchroot
{% endif %}

# vim: ft=bash.jinja2
