# {{ ansible_managed }}

#
# ~/.bashrc
#

# if not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '

# don't put duplicate lines or lines starting with space in the history
HISTCONTROL=ignoreboth
HISTSIZE=100000

# append to the history file, don't overwrite it
shopt -s histappend

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# source bash_aliases if it exists
if [[ -f ~/.bash_aliases ]]; then
  . ~/.bash_aliases
fi

export EDITOR=vim

if [[ -d "$HOME/bin" ]]; then
  export PATH="$HOME/bin":$PATH
fi

if [[ -d "$HOME/src/go" ]]; then
  export GOPATH="$HOME/src/go"
fi

alias please='eval "sudo $(fc -ln -1)"'

if command -v thefuck >/dev/null 2>&1; then
  eval "$(thefuck --alias)"
fi

if command -v shfmt > /dev/null 2>&1; then
  alias mshfmt='shfmt -s -i 2 -ci -sr'
fi

# AWS completion if it exists
if [ -f /usr/bin/aws_completer ]; then
  complete -C '/usr/bin/aws_completer' aws
fi

if [[ "$(uname)" == "Darwin" ]]; then
  export HOMEBREW_NO_ANALYTICS=1
fi

{% if ansible_os_family == "Archlinux" %}
# "standard" chroot
# mkarchroot $CHROOT/root base-devel
export CHROOT=$HOME/chroot
# supermario chroot with pkgs.finelli.dev enabled
# mkarchroot -C /etc/pacman.conf $SMCHROOT/root base-devel
export SMCHROOT=$HOME/smchroot
{% endif %}

source ~/.bash/bash_functions

# vim: ft=bash.jinja2
